/*    
    Version: Accessible Space 1.0
    Fecha : 02-nov-2014, 22:36:21
    Author  : Antonio Paternina - apaternina
    Descripciòn : Se crea el archivo, que contiene las clases css para dar estilo al
                  componente JSPUI
*/


.sr-only{
    text-indent: -5000px;
}

a[id="saltarContent"]:focus{
    text-align: center;
    width: 150px !important;
    color: white !important;
    height: 20px !important;
    background-color: #800000 !important;
    position: fixed !important;
    text-indent:0px !important;
    clip: initial;
    margin-top: -10px;
}
.item_li_de_ul{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}
.padding_ul{
    padding: 0px;
}

.padding_ul_li:hover{
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
}
.padding_ul_li a:hover{
    text-decoration: none !important;
    color:white !important;
}
.padding_ul_li a:focus{
    text-decoration: none !important;
    color:white !important;
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%) !important;
}

.alertMensaje{
    text-indent:-5000px !important;
}

.navbar-brand{
    padding: 5px 15px !important;
}

.tamañoLogo{
    height: 40px !important;
    width: 40px !important;
}

.navbar-inverse{
    background-image:none !important;
    background-color:#F7F7F7 !important;
    border-color: #324F69 !important;

}

.navbar-inverse .navbar-nav>li>a:hover{
    text-decoration: underline !important;
    color:#324F69;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color:#324F69 !important;

}

.navbar-inverse .navbar-nav>.active>a{
    background-color:#324F69 !important;
}

.navbar-inverse .navbar-nav>li>a{
    color:#324F69 ;
}

.navbar-inverse .navbar-nav>li>a:focus{
    text-decoration: underline !important;
    color:#324F69;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{

    text-shadow: none;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret{
    border-top-color: #324F69;
    border-bottom-color: #324F69;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret:hover{
    border-top-color: #324F69 !important;
    border-bottom-color: #324F69 !important;
}

.banner img{
    zoom: 60%;
    width: 114%;
}

.dropdown-header{
    color: #324F69;
}

.bar_footer{
    background-color: #324F69 !important;

}
.bar_footer a{
    color:#FFFFFF !important;

}
.text-muted{
    color:#FFFFFF !important;
}

.heigthBanner{
    height: 200px !important;

}
.btn-success{
    background-image: none;
    background-color: #BDCED6 !important;
    border-color: transparent !important;
    color:black !important;
    text-shadow:none !important;
}
.btn-success:hover,.btn-success:focus {
    color:black !important;
}
.btn-success li,.btn-success a,.btn-success span{
    color: black !important;
    text-shadow:none;
}
.panel-primary>.panel-heading{
    background-color: #003366;
    background-image: none;
}

.btn-info{
    background-color: #BDCED6 !important;
    color: #000 !important;
    border-color: transparent !important;
    text-shadow: none !important;
    background-image:none !important;
}

div.panel-heading a {
    color:white;
}
.pull-right_Adm{
    margin-right: 30px !important;
}
.pull-right_Adm a{
    color:#FFF !important;
}
.panel-heading{
    background-color: #324F69 !important;
    background-image: none !important;
    color: #FFF !important;
}

.btn-success:hover{
    color:black !important;
}

.btn-primary{
    background-image:none;
    background-repeat: repeat-x;
    background-color: #BDCED6 !important;
    color: black !important;
    border-color: transparent !important;
    text-shadow: none !important;
}
.alert-warning{
    background-image: none;
    background-color: #800000;
    color: #FFFFFF !important;
}
.alert-warning a{
    color: #FFFFFF !important;
}

.dropdown-menualert-danger{
    background-image: none !important;
    background-color: #800000;
    color: #FFFFFF !important;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small{
    color:#303030 !important;
}

.btn-danger,.btn-danger:focus,.btn-danger:hover{
    background-image: none;
    border-color: #C12E2A;
    background-color: #800000
}
.btn_newSerch{
    color:#000000 !important;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: black;
    white-space: nowrap;
    background-color: white;
    border-radius: 4px;
}

.alert-info{
    background-image: none !important;
    background-color: #eafffff;
    color: #033B07 !important;
    border-color: transparent !important;
}
.form-control_search{
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.btn-warning,.btn-warning:focus, .btn-warning:hover {
    background-image: none;
    background-repeat: repeat-x;
    background-color: #08006B;
    color: #ffffff;
    border-color: transparent;
    text-shadow: none;
}

.form-control_search{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #324F69 !important;
    background-image:none !important;
    box-shadow:none;
    border-color:  #324F69 !important;
    border: 0px !important;
}

.list-group-item-heading a{
    color: #000080 !important;
}

.brand h4{
    color:#505050 !important;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret:hover{
    border-top-color: #324F69 !important;
    border-bottom-color: #324F69 !important;
    color:#324F69 !important;
}

.dropdown-toggle b{
    border-top-color: #324F69 !important;
    border-bottom-color: #324F69 !important;
    color:#324F69 !important;

}

.media-body a{
    color: #000080 !important;   
}
a {
    color: #000080;
}

.button_workspace{
    width: 30% !important;
}

.panel-warning > .panel-heading{
    background-color: #BDCED6 ;
    color: #000;
}

.panel-warning_Adm{
    border-color: #324F69 !important;
    border-color: #324F69 !important;
}

.logo{
    background: url("/jspui/image/FUTCO/futco.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width : 769px){
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background-color: #324F69 !important;
        border-color:  #324F69 !important; 
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle{
        border-color: #324F69;
    }

    .navbar-inverse .navbar-toggle{
        border-color: #324F69;
        background-color: #324F69 !important;
    }

    .banner img {
        width: 100%;
        margin-top: 50px;
    }

    .navbar-collapse{
        overflow-y: none !important;   
    }
}