/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-nov-2014, 22:36:21
    Author     : Dspace
*/


.sr-only{
  
    //display: none;
    text-indent: -5000px;
    
}

a[id="saltarContent"]:focus{
    text-align: center;
    width: 150px !important;
    color: white !important;
    height: 20px !important;
    background-color: #800000 !important;
    position: fixed !important;
    text-indent:0px !important;
    clip: initial;
    margin-top: -10px;
}


.item_li_de_ul{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}
/*.padding_ul_li{
    display: flex;
}*/

.padding_ul{
    padding: 0px;
}

.padding_ul_li:hover{
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
    
}
.padding_ul_li a:hover{
    text-decoration: none !important;
    color:white !important;
}

.padding_ul_li:focus{
  //  background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%) !important;
}
.padding_ul_li a:focus{
    text-decoration: none !important;
    color:white !important;
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%) !important;
}

.alertMensaje{
    /*display: none !important;*/
    text-indent:-5000px !important;
}


/*



*/

.navbar-brand{
    padding: 5px 15px !important;
}

.tamañoLogo{
    height: 40px !important;
    width: 40px !important;
}

.navbar-inverse{
background-image:none !important;
background-color:#F7F7F7 !important;
border-color: #324F69 !important;
  
}

.navbar-inverse .navbar-nav>li>a:hover{
    text-decoration: underline !important;
    color:#324F69;
    
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
  background-color:#324F69 !important;
    
}


.navbar-inverse .navbar-nav>.active>a{
    background-color:#324F69 !important;
}

.navbar-inverse .navbar-nav>li>a{
    color:#324F69 ;
}

.navbar-inverse .navbar-nav>li>a:focus{
    text-decoration: underline !important;
    color:#324F69;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    
    text-shadow: none;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret{
    border-top-color: #324F69;
    border-bottom-color: #324F69;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret:hover{
    border-top-color: #324F69 !important;
    border-bottom-color: #324F69 !important;
}

.banner img{
    zoom: 60%;
    //transform: scale(0.9);
    width: 114%;
}

.dropdown-header{
    color: #324F69;
}

.bar_footer{
    background-color: #324F69 !important;
    
}
.bar_footer a{
    color:#FFFFFF !important;
    
}
.text-muted{
    color:#FFFFFF !important;
}

.heigthBanner{
    height: 200px !important;
    
}
.btn-success{
    background-image: none;
    background-color: #BDCED6 !important;
    border-color: transparent !important;
    color:black;
    text-shadow:none !important;
}

.btn-success li,.btn-success a,.btn-success span{
    color: black !important;
    text-shadow:none;
    
}
.panel-primary>.panel-heading{
    background-color: #003366;
    background-image: none;
    
}

.panel-body{
   // background-color: #EDF1FF;
}

.btn-info{
    background-color: #BDCED6 !important;
    color: #000 !important;
    border-color: transparent !important;
    text-shadow: none !important;
    background-image:none !important;
}


div.panel-heading a {
    color:white !important;
    
}

.navbar-inverse .navbar-nav > li > a:focus{
   // color:white !important; 
    
}

.btn-success:hover{
    color:black !important;
}

.btn-primary{
    background-image:none;
    background-repeat: repeat-x;
    background-color: #BDCED6 !important;
    color: black !important;
    border-color: transparent !important;
    text-shadow: none !important;
    
}

.alert-warning{
    background-image: none;
    background-color: #800000;
    color: #FFFFFF !important;
}